
#main-container{
  background-color: #efefef;
  display: inline-block;
  padding:20px 30px;
  border-radius:20px;
}
#progress-logo{
  width:56%;
  padding:5px;
}

#time-container{
  font-family:'MorganPosterAvec Bold';
  font-size: large;
  text-transform:uppercase;
  margin:10px;
}

#playline-set{
  color:#464646;
  font-size: 2em;
  margin:0;
  padding:0;
}

#playline-time{
  color:#797979;
  font-size:1.1em;
  margin:10px;
  
}
hr{
  border-color:#d1d0d0;
  width:44%;
  border-style: ridge;
}
#playline-protip{
  color:#797979;
  font-size: .8em;;
}

#buttons-container{
  display: flex;
  justify-content: center;
}
.notify-deposit-button{
  background:#fff;
  border:1px solid #ddd;
  border-radius: 30px;
  padding:0 25px;
  margin:10px;
  text-transform: uppercase;
  color:#797979;
  font-weight: bold;
  line-height:35px;
}
.notify-deposit-img{
  width:25px;
  height: 25px;
  padding-right:15px; 
  padding-top:10px;
}

#download-app{
  text-transform: uppercase;
  color:#797979;
  font-weight: bold;
  font-size: .9em;
}

#download-container img{
  padding:0 20px;
  width: 120px;
}
